.inline-block { display: inline-block; }
.hidden { visibility: hidden; }
.error { background-color: #f8b9b7 !important; }
.minHeight500 { min-height: 500px; }
.colorGreen { color: green; }
.pad10Top { padding-top: 10px; }

table {font-size: 14px;}
table tr {padding:3px;}
table tr td {padding:3px; vertical-align: top;}

table.table-bordered {width:605px; font-size: 12px;}
table.table-bordered thead tr td {padding:3px; border-bottom:1px solid #ddd;}
table.table-bordered thead tr td.col1 {width:5px;}
table.table-bordered thead tr td.col2 {width:300px;}
table.table-bordered thead tr td.col3 {width:300px;}

table.table-bordered tbody tr td {padding:3px; border-bottom:1px solid #ddd;}

table.table-bordered tbody tr:last-child td,
table.table-bordered thead tr td:first-child,
table.table-bordered tbody tr td:first-child
{ padding:3px; border-bottom:0 #ddd; }

.highlightedCell {background-color:#c6deff;}
.owner.highlightedCell { background-color: green; }
.alightRight {text-align:right;}
.largeFont {font-size: 16px;}

.remaining-title { width: 50px; }

.ajax-loader { width: 32px; height: 32px; vertical-align: bottom; background: url('/static/resources/images/ajax-loader-wheel2-transparent.gif'); }
.ajax-loader.mainOffset { margin-bottom: 12px; margin-left: 5px; }

.alignButtonTop { vertical-align: top; margin-top: 16px; }
.addProposalBtn { margin-left: 154px; }
.loginBtn { margin-left: 68px; }

.footer { border-top: 1px solid grey; text-align: center; color: grey; }

.proposalsTmpl-rendered { margin-bottom: 10px; overflow: auto; padding-right: 20px; padding-left: 20px; height: 417px; }

/* Twitter bootstrap class additions (this will add to already existent twitter bootstrap classes) */
.container-fluid { padding-top: 20px; }
.table-bordered thead:first-child tr:first-child td:first-child { border-top-left-radius: 4px; }
form input { height: 30px !important; }

ul.backers { list-style:none; margin:0; }
ul.backers li {}