<html>
<head>
	<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" media="all">
	<script src="js/jquery-1.8.2.min.js"></script>
	<script src="bootstrap/js/bootstrap.min.js"></script>
	
	<style type="text/css">
		.name { font-weight: bold; }
		.description { font-style: italic; }
		.technologies { }

        table {font-size: 14px;}
        table tr {padding:3px;}
        table tr td {padding:3px; vertical-align: top;}

		.vote .gold { color: gold; }
		.vote .silver{ color: silver; }
		.vote .bronze { color: brown; }
		
		.vote form { display: inline-block; }
		.padd { padding-bottom: 10px; }
	</style>
</head>
<body>
	<div class="container">
		<h1>Project Chooser</h1>

        <br>

		<h4>Welcome {{ currentBacker.userId }},</h4>
		<p>Below you can see a list of existing proposals for the current domain. You can support on any one you like, or add your own</p>

		{% if proposals %}
            <table cellspacing="0" cellpadding="0" border="1">
                <thead>
                    <tr>
                        <td>Rating</td>
                        <td>Name</td>
                        <td>Description</td>
                        <td>Technologies Used</td>
                        <td>Backers</td>
                        <td>Action</td>
                    </tr>
                </thead>
                {% for proposal in proposals %}
                    <tr>
                        <td> <!-- Proposal Rating -->
                            <span class="rating">{{proposal.rating}}</span>
                        </td>
                        <td> <!-- Proposal Name -->
                            <span class="name">{{proposal.name}}</span>
                        </td>
                        <td> <!-- Proposal Description -->
                            <span class="description">{{proposal.description}}</span>
                        </td>
                        <td> <!-- Proposal Technologies -->
                            <span class="technologies">{{proposal.technologiesUsed}}</span>
                        </td>
                        <td> <!-- Proposal Backers -->
                            {% if proposal.votes %}
                                {% for vote in proposal.votes %}
                                    <li class="text-success">[{{ vote.weight }}] {{ vote.userId }}</li>
                                {% endfor %}
                            {% else %}
                                <p class="text-error">Be the first backer!</p>
                            {% endif %}
                        </td>
                        <td> <!-- Proposal Actions -->
                            {% if proposal.hasUserVoted %}
                                <p class="text-success">Thank you for your vote!</p>
                                <form method="post" action="/withdraw?voteId={{proposal.userVote.key.id}}">
                                    <input type="submit" value="Withdraw" />
                                </form>
                            {% else %}
                                {% if currentBacker.remaining_gold %}
                                    <form method="post" action="/vote?weight=gold&id={{proposal.id}}">
                                        <input type="submit" value="Gold" class="gold" />
                                    </form>
                                {% endif %}

                                {% if currentBacker.remaining_silver %}
                                    <form method="post" action="/vote?weight=silver&id={{proposal.id}}">
                                        <input type="submit" value="Silver" class="silver" />
                                    </form>
                                {% endif %}

                                {% if currentBacker.remaining_bronze %}
                                    <form method="post" action="/vote?weight=bronze&id={{proposal.id}}">
                                        <input type="submit" value="Bronze" class="bronze" />
                                    </form>
                                {% endif %}
                            {% endif %}
                        </td>
                    </tr>

                    {% comment %}
                    <div class="container padd">

                        <div class="vote">

                        </div>
                    </div>
                    {% endcomment %}
                {% endfor %}
            </table>
		{% else %}
			<p class="text-warning">There are currently no proposals, use the form below to add one</p>
		{% endif %}
		
	</div>
	<div class="container">
		<h2>Add Proposal</h2>
		<form method="post" action="/">
			<input type="text" name="name" id="name" placeholder="Name" />
			<br />
			
			<input type="text" name="description" id="description" placeholder="Description" />
			<br />
			
			<input type="text" name="technologiesUsed" id="technologiesUsed" placeholder="Technologies Used" />
			<br />
	
			<input type="submit" value="Add Proposal"/>
		</form>
	</div>
</body>
</html>