<!-- TODO: Replace with User's Name -->
<h4><%= getUsernameFromEmail(userId) %></h4>

<% if (countRemainingVotes(remainingVotes) <= 0) { %>
    <p class="colorGreen pad10Top">You have used up all your votes for this project! Thank you for your participation.</p>
<% } else { %>
<table class="table table-hover table-condensed">
    <thead>
        <tr>
            <td colspan="2">Remaining Votes:</td>
        </tr>
    </thead>
    <tbody>
        <% _.each(remainingVotes, function(remainingVote) { %>
        <tr>
            <td class="remaining-title">
                <%= toStartCase(remainingVote.voteType.label) %>
            </td>
            <td>
                <%= remainingVote.quantity %>
            </td>
        </tr>
        <% }); %>
    </tbody>
</table>

<button class="btn addProposalBtn alignButtonTop" onclick="showAddProposalModal()">
    <i class="icon-plus"></i>
    Add Proposal
</button>

<button class="btn btn-success alignButtonTop loginBtn" onclick="showLogoutModal()">
    <i class="icon-user"></i>
    Log out
</button>
<% } %>