<!-- TODO: Replace with User's Name -->
<h4><%= userId %></h4>
<table class="table table-hover table-condensed">
    <thead>
        <tr>
            <td colspan="2">Remaining Votes:</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="remaining-title">Gold</td><td><%= remaining_gold %></td>
        </tr>
        <tr>
            <td class="remaining-title">Silver</td><td><%= remaining_silver %></td>
        </tr>

        <tr>
            <td class="remaining-title">Bronze</td><td><%= remaining_bronze %></td>
        </tr>
    </tbody>
</table>