<!-- TODO: Replace with User's Name -->
<h4><%= getUsernameFromEmail(userId) %></h4>
<table class="table table-hover table-condensed">
    <thead>
    <tr>
        <td colspan="2">Remaining Votes:</td>
    </tr>
    </thead>
    <tbody>
    <% _.each(remainingVotes, function(remainingVote) { %>
        <tr>
            <td class="remaining-title">
                <%= toStartCase(remainingVote.voteType.label) %>
            </td>
            <td>
                <%= remainingVote.quantity %>
            </td>
        </tr>
    <% }); %>
    </tbody>
</table>