<h5>Proposals you've voted for:</h5>

<div class="currentProposalsList">
    <% if (!currentVotes) { %>
        <p>You haven't voted for any Proposals yet.</p>
    <%} else { %>
        <ul>
            <% _.each(currentVotes, function(currentVote) { %>
            <li style="margin:0; padding:0; font-size:12px;">
                <div>
                    <%= currentVote.voteType.label %>:
                    <br/>
                    <%= currentVote.proposal.name %> (rating: <%= currentVote.proposal.totalRating %>)
                </div>
            </li>
            <% }) %>
        </ul>
    <% } %>
</div>