<h4><%= username %></h4>
<div>
    <table class="table table-hover table-condensed">
        <thead>
            <tr>
                <td colspan="2">
                    Supporting open proposals:
                </td>
            </tr>
        </thead>
        <tbody>
            <!--< % _.each(openProposals, function(openProposal) { % >-->
            <tr>
                <td class="remaining-title">
                    Proposal #1
                    <!--< % = openProposal.name % >-->
                </td>
                <td>
                    GOLD
                    <!--< % = openProposal.voteType % >-->
                </td>
            </tr>
            <!--< % }); % >-->
        </tbody>
    </table>
</div>