<% if (currentBacker.hasPermission('CAN_VIEW_PROPOSAL')) { %>
<% if (proposals == undefined || proposals.length <=  0) { %>
    <p class="text-warning">There are currently no proposals, use the above button to add one.</p>
<% } else { %>
    <% _.each(proposals, function(proposal) {
        var owner = proposal.owner.email && proposal.owner.email == currentBacker.email;
        var ownerClass = owner ? 'owner' : '';
    %>
        <table class="table-bordered"> <!--table-striped-->
            <thead>
                <tr>
                    <td class="col1 highlightedCell <%= ownerClass %>"></td>
                    <td class="col2 highlightedCell largeFont"><%= proposal.name %></td>
                    <td class="col3 highlightedCell alightRight">Rating: <%= proposal.rating %></td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="highlightedCell <%= ownerClass %>"></td>
                    <td><%= proposal.description %></td>
                    <td rowspan="2">
                        <% if (proposal.votes.length > 0) { %>
                            <ul class="backers">
                                <% _.each(proposal.votes, function(vote) { %>
                                <li class="text-success">
                                    <img src="/static/resources/images/vote_<%= vote.voteType.label.toLowerCase() %>.png" height="32" width="32" title="<%= vote.voteType.label.toLowerCase() %>" />
                                    <%= vote.userId %>
                                </li>
                                <% }); %>
                            </ul>
                        <% } else { %>
                            <% if (currentBacker.hasPermission('CAN_VOTE')) { %>
                                <p class="text-error">Be the first backer!</p>
                            <% } else { %>
                                <p class="text-error">No one is backing this proposal!</p>
                            <% } %>
                        <% } %>
                    </td>
                </tr>
                <tr>
                    <td class="highlightedCell <%= ownerClass %>"></td>
                    <td><%= proposal.technologiesUsed %></td>
                </tr>
                <tr>
                    <td class="highlightedCell <%= ownerClass %>"></td>
                    <td colspan="2" class="alightRight">
                        <% if (currentBacker.hasPermission('CAN_VOTE')) { %>
                            <% if (proposal.hasUserVoted) { %>
                                <span class="text-success">Thank you for your vote!</span>
                                <span class="text-success">(click to <a href="javascript:withdraw(<%= proposal.userVote.id %>)">withdraw</a>)</span>
                            <% } else if (countRemainingVotes(currentBacker.remainingVotes) <= 0) { %>
                                <span class="text-info">You have reached the maximum allowed votes for this Project. Thank you for your vote(s)!</span>
                            <% } else { %>
                                <span class="text-success">Add a </span>
                                <% _.each(currentBacker.remainingVotes, function(remainingVote) { %>
                                    <% if (remainingVote.quantity > 0) { %>
                                        <a href="javascript:vote(<%= proposal.id %>, '<%= remainingVote.voteType.label %>')" style="text-decoration:none;">
                                            <img src="/static/resources/images/vote_<%= remainingVote.voteType.label.toLowerCase() %>.png" height="32" width="32" title="<%= remainingVote.voteType.label.toLowerCase() %>" />
                                        </a>
                                    <% } %>
                                <% }); %>
                                <span class="text-success">level of support to this proposal.</span>
                            <% } %>
                        <% } else { %>
                            <span class="text-info">There are <%= proposal.votes.length %> votes for this proposal.</span>
                        <% } %>
                    </td>
                </tr>
            </tbody>
        </table>
        <div style="margin-bottom:15px;"></div>
    <% }); %>
<% } %>
<% } %>