<% if (proposals == undefined || proposals.length <=  0) { %>
<p class="text-warning">There are currently no proposals, use the form below to add one</p>
<% } else { %>
<table class="table-bordered table-striped">
    <thead>
    <tr>
        <td>Rating</td>
        <td>Name</td>
        <td>Description</td>
        <td>Technologies Used</td>
        <td>Backers</td>
        <td>Action</td>
    </tr>
    </thead>
    <tbody>
    <% _.each(proposals, function(proposal) { %>
    <tr>
        <td> <!-- Proposal Rating -->
            <span class="rating"><%= proposal.rating %></span>
        </td>
        <td> <!-- Proposal Name -->
            <span class="name"><%= proposal.name %></span>
        </td>
        <td> <!-- Proposal Description -->
            <span class="description"><%= proposal.description %></span>
        </td>
        <td> <!-- Proposal Technologies -->
            <span class="technologies"><%= proposal.technologiesUsed %></span>
        </td>
        <td><!-- Proposal Backers -->
            <% if (proposal.votes.length > 0) { %>
            <ul>
                <% _.each(proposal.votes, function(vote) { %>
                <li class="text-success">[<%= vote.voteType.weight %>]  <%= vote.userId %></li>
                <% }); %>
            </ul>
            <% } else { %>
            <p class="text-error">Be the first backer!</p>
            <% } %>
        </td>
        <td><!-- Proposal Actions -->
            <% if (proposal.hasUserVoted) { %>
                <p class="text-success">Thank you for your vote!</p>
                <a href="javascript:withdraw(<%= proposal.userVote.id %>)">Withdraw</a>
            <% } else { %>
                <% _.each(currentBacker.remainingVotes, function(remainingVote) { %>
                    <a href="javascript:vote(<%= proposal.id %>, '<%= remainingVote.voteType.label %>')" class="gold"><%= remainingVote.voteType.friendlyLabel %></a>
                <% }); %>
            <% } %>
        </td>
    </tr>
    <% }); %>
    </tbody>
</table>
<% } %>